{% extends "_layout.html" %}

{% block title %} More info{% endblock %}

{% block more_styles %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/more.css') }}">

{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row justify-content-md-center">

            <div class="col-md-6 border">
                <h2>Weather More</h2>
                <p>Temperature: {{ weather['temperatura'] }}</p>
                <p>Humidity: {{ weather['vlaznost'] }}</p>
                <p>Time: {{ weather['vreme'] }}</p>
                <p>Osvetljenje: {{ weather['osvetljenje'] }}</p>
              </div>
        </div>

        <hr>

    </div> <!-- /container -->
</div>

{% endblock %}